@import 'styles/variables';
@import 'styles/mixins';

.container {
  @include flex($justify: space-between);
  margin-bottom: 24px;
  p {
    font-size: 18px;
    font-weight: 500;
  }

  .wrapper {
    @include flex($justify: space-between, $gap: 10px);
  }
  img {
    padding-bottom: 3px;
  }
  button {
    @include border;
    padding: 6px 24px;
    color: $white;
  }
  .next {
    background-color: $orange;
  }
  .new {
    background-color: $blue;
  }
}
