$orange: #f99746;
$black: #080338;
$white: #efefef;
$blue: #1e3ca9;
$cyan: #40a3c3;
$gray: #808080;
$placeholeder: rgba(90, 90, 90, 0.5);
$border-gray: #dbdbdb;
$light-gray: #f6f6f6;
$flame-pea: #b64c41;
$arc-diameter: 220px;
